*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: large;
    
}
 .dark-mode {
    background: #111111; /* Remplace var(--bg-color) */
    color: #fff; /* Remplace var(--text-color) */
}
main{
    min-height: 780px;
}
.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    top: 0%;
    position: sticky;
    width: 100%;
    box-shadow: rgba(255,255,255,0.2);
    z-index: 999;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.navbar .menu li a.active{
    border-bottom: 4px solid red;
}
.navbar .menu li a:hover{
    border-bottom: 4px solid red;
}
.theme{
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.logo img{
width: 80px;
}
.menuderoulant{
    list-style: none;
}
.menuderoulant .sousmenu{
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
.menuderoulant .sousmenu li{
    float: none;
    border-top: 1px solid transparent;
}
.menuderoulant li:hover .sousmenu{
    display: block;
}
.navbar .menuderoulant li a{
    display: block;
    margin-left: 20px;
    color: white;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}
.navbar .menuderoulant li a:hover{
    border-bottom: 4px solid red;
}

.box{
    max-width: 400px;
    width: 100%;
}
.box .search-box{
    position: relative;
    height: 30px;
    max-width: 380px;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}
.search-box .icon{
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 0 25px 25px 0;
    border: none;
    cursor: pointer;
}
.user-info img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.banniere {
	min-height: 600px;
	/* background: no-repeat center center / cover url("../Images/accueil.png"); */
}
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.footer-section {
    margin-right: 40px;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #fff;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}