<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Style/form.css')}}">
<title>Contact</title>
{%extends "base.html"%}
{%block content%}
<section>
    <div class="form-box">
        <form method="post">
            {{form.hidden_tag()}}
            <h2>Contactez-nous</h2>
            <div class="input-box">
                {{form.email}}
                {{form.email.label}}
            </div>
            <div class="msg-box">
                {{form.message.label}}
                {{form.message}}
            </div>
            {{form.submit}}
        </form>
    </div>
</section>
</main>
{%endblock%}