<title>Panier</title>
<style>
    .cart-page{
    margin: 80px 300px 0 300px;
    }

    table{
        width: 100%;
        border-collapse: collapse;
    }
    .cart-info{
        display: flex;
        flex-wrap: wrap;
    }
    th{
        text-align: left;
        padding: 5px;
        color: #fff;
        background: red;
    }
    td{
        padding: 10px 5px;
        max-width: 100px;
        border-bottom: 2px solid black;/*white sombre*/ /*black clair*/
        color: black;
    }
    .dark-mode td{
        padding: 10px 5px;
        max-width: 100px;
        border-bottom: 2px solid white;/*white sombre*/ /*black clair*/
        color: white;
    }
    .dark-mode td input{
        width: 40px;
        height: 30px;
        padding: 5px;
        background: none;
        border-color: white;
        color: white;
        outline: none;
    }
    td input{
        width: 40px;
        height: 30px;
        padding: 5px;
        background: none;
        border-color: black;
        color: black;
        outline: none;
    }
    td a{
        color: red;
        font-size: 12px;
    }
    td img{
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    .total-price{
        display: flex;
        justify-content: flex-end;
    }
    .total-price table{
        margin-top: 5px;
        border-top: 3px solid red;
        width: 100%;
        max-width: 400px;
    }
    td:last-child{
        text-align: right;
    }
    th:last-child{
        text-align: right;
    }
    .trash{
        border: none;
        background: none;
        color: black;
        cursor: pointer;
    }
    .dark-mode .trash{
        border: none;
        background: none;
        color: white;
        cursor: pointer;
    }
    .command{
       border-color: black; /*white sombre black clair*/
       background: none;
       color: black;/*white sombre*/ /*black clair*/
       border-radius: 25px;
       height: 60px;
       width: 150px;
    }
    .dark-mode .command{
       border-color: white; /*white sombre black clair*/
       background: none;
       color: white;/*white sombre*/ /*black clair*/
       border-radius: 25px;
       height: 60px;
       width: 150px;
    }
    .quantity{
        display: flex;
    }
    .dark-mode .quantity-value{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        min-width: 100px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .plus-minus{
        border: none;
        background: none;
        color: black;
        cursor: pointer;
    }
    .dark-mode .plus-minus{
        border: 2px solid white;
        background: none;
        color: white;
        cursor: pointer;
        width:30px;
    }
</style>
{%extends "base.html"%}
{%block content%}
<main>
<div class="small-container cart-page">
    <table>
        <tr>
            <th>Action</th>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Montant</th>
        </tr>
        {%for produit in panier%}
        <tr>
            <td><button class="trash"><i class="fa-solid fa-trash"></i></button></td>
            <td>
                <div class="cart-info">
                    <img src="{{url_for('static',filename='Images/'+produit.image)}}" alt="">
                    <div>
                        <p>{{produit.nom}}</p>
                        <small>Prix: {{produit.prix}} fr</small>
                    </div>
                </div>
            </td>
            <td>
                <div class="quantity">
                    <button class="plus-minus">-</button>
                    <div class="quantity-value">
                        {{produit.quantite}}
                    </div>
                    <button class="plus-minus">+</button>
                </div>
            </td>
           <td>{{produit.prix*produit.quantite}}</td>
        </tr>
        {%endfor%}
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Prix hors taxe</td>
                <td>10000</td>
            </tr>
            <tr>
                <td>Taxe</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>10200</td>
            </tr>
            <tr></tr>
        </table>
    </div>
    <button class="command">Commander</button>
</div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Récupérer les données du local storage
        let panier = JSON.parse(localStorage.getItem('produits'));

        //location.href = Flask.url_for("panier", panier=panier);

        // Si des données existent dans le local storage, les envoyer au serveur
        if (panier) {
            fetch('/updatePanier', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(panier),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => console.error('Error:', error));
        }
    });
    
</script>
{%endblock%}